/* 重置默认样式 */
h1,h2,ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


li {
    list-style: none;
}
/* 清除浮动 */
.clearfix{overflow:hidden;_zoom:1;}

::-webkit-scrollbar {
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
}

a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}


/* 基础样式 */
html {
    font-size: 16px;
}
body {
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
    line-height: 1.5;
}


#header {
    position: fixed;
    top: 0;
    left: 0;    
    width: 100%;
    height: 50px;
    background-color: #0099CC;
    border-bottom: 1px solid #fff;
    z-index: 1;
}

#header .icon-w {
    position: absolute;
    top: 5px;
    left: 0;
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
    margin: 0 10px;
    color: #0099cc;
    font-family: Arial;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5rem;
}

nav, ul {
    width: 100%;
    height: 100%;
}

.nav-link {
    float: right;
    width: 100px;
    height: 100%;
    line-height: 50px;
    margin-right: 20px;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

.nav-link:hover {
    
    border-radius: 5px;
    transform: scale(1.2, 1.2);
}

#welcome-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background-color: #0099CC;
    text-align: center;
    color: #fff;
    font-size: 2em;
  
}


#welcome-section img {
    width: 100px;
    height: 100px;
}

#welcome-section p{
    color: #FFF;
}


#work {
    width: 100%;
    background: #45567D;
    color: #fff;
    padding-top: 100px;
}

#work h1 {
    font-size: 2em;
    text-align: center;
    width: 50%;
    margin: 10px auto;
    border-bottom: 2px solid #fff;
}

.projects-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.projects-flex a {
    width: 30%;
    height: 350px;
    margin: 20px 10px;
    text-align: center;
    background-color: #000;

}

.project-image {
    width: 100%;
    height: 300px;
}


#contact {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
}

.contact-ways {
    display: inline-block;
}



#contact h1 {
    font-size: 2.5rem;
}

#contact p {
    font-size: 1.5rem;
}

#contact footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #0099CC;
    color: #fff;
    line-height: 50px;
}

.contact-ways {
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact-ways a {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-ways a:hover {
    transform: scale(1.2, 1.2);
}


#contact img {
    width: 50px;
    height: 50px;
}


.navbar_ui {
    position: fixed;
    right: 50px;
    top: 0;
    z-index: 100;
    display: none;
}

#navbar_foldout_toggler {
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 1;
    pointer-events: auto;
}

#hamburger_top {
    position: absolute;
    top: -7.5px;
    transform-origin: 0% 50%;
}



#hamburger_middle {
    margin-top: 0.5px;
    margin-bottom: 0.5px;
}

#hamburger_bottom {
    position: absolute;
    bottom: -7.5px;
    transform-origin: 0 50%;
}

#fcc_foldout_toggler_background {
    width: 39px;
    height: 30px;
    background-color: rgba(255, 255, 204, 0.08);
    transform-origin: 0% 50%;
    position: absolute;
    top: -13px;
    left: -7px;
    z-index: -1;
}


.fcc_hamburger {
    position: relative;
    width: 25px;
    height: 4px;
    display: block;
    background: white !important;
    border-radius: 5px !important;
    transform-origin: 4px 0px;
    transition: transform 0.4s ease, opacity 0.55s ease;
    left: unset;
}

#fcc_toggle {
    height: 24px;
    width: 30px;
    position: absolute;
    top: 7px;
    left: 10px;
    opacity: 0;
    cursor: pointer;
    z-index: 101;
    pointer-events: auto;
}

.transform_top {
    opacity: 1;
    transform: rotate(45deg) translate(-1px, -1px);
}

.transform_middle {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.transform_bottom {
    opacity: 1;
    transform: rotate(-45deg);
}

.cover {
    position: fixed;
    width: 50%;
    height: 100%;
    right: -50%;
    top: 0;
    padding-top: 50px;
    z-index: 10;
    opacity: 0.5;
    transition: transform 0.4s ease, opacity 0.55s ease;
}

.navbar-phone{
position: absolute;
width: 50%;
height: 100%;
right: 0;
top: 0;
background-color: pink;
color: #000;
padding-top: 50px;
z-index: 10;
opacity: 0.5;
}

.to-left{
    width: 100%;
    height: 100vh;
    transform: translateX(-50%);
}


.navbar-phone li{
color: white;
width: 100%;
text-align: center;
margin: 20px auto;
font-size: 1.5rem;
}




@media(max-width:640px) {
    #navbar {
        display: none;
    }

    .navbar_ui {
        display: block;
    }


}