/* 重置默认样式 */
h1,h2,ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


li {
    list-style: none;
}
/* 清除浮动 */
.clearfix{overflow:hidden;_zoom:1;}

::-webkit-scrollbar {
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
}


/* 基础样式 */
html {
    font-size: 16px;
}
body {
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
    line-height: 1.5;
}


#header {
    position: fixed;
    top: 0;
    left: 0;    
    width: 100%;
    height: 50px;
    background-color: #0099CC;
    border-bottom: 1px solid #fff;
    z-index: 1;
}

#header .icon-w {
    position: absolute;
    top: 5px;
    left: 0;
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
    margin: 0 30px;
    color: #0099cc;
    font-family: Arial;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5rem;
}

nav, ul {
    width: 100%;
    height: 100%;
}

.nav-link {
    float: right;
    width: 100px;
    height: 100%;
    line-height: 50px;
    margin-right: 20px;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

.nav-link:hover {
    
    border-radius: 5px;
    transform: scale(1.2, 1.2);
}

#welcome-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background-color: #0099CC;
    text-align: center;
    color: #fff;
    font-size: 2em;
  
}


#welcome-section img {
    width: 100px;
    height: 100px;
}

#welcome-section p{
    color: #FFF;
}


#work {
    width: 100%;
    background: #45567D;
    color: #fff;
    padding-top: 100px;
}

#work h1 {
    font-size: 2em;
    text-align: center;
    width: 50%;
    margin: 10px auto;
    border-bottom: 2px solid #fff;
}

.projects-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.projects-flex a {
    width: 30%;
    height: 350px;
    margin: 20px 10px;
    text-align: center;
    background-color: #000;

}

.project-image {
    width: 100%;
    height: 300px;
}


#contact {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
}

.contact-ways {
    display: inline-block;
}



#contact h1 {
    font-size: 2.5rem;
}

#contact p {
    font-size: 1.5rem;
}

#contact footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #0099CC;
    color: #fff;
    line-height: 50px;
}

.contact-ways {
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact-ways a {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-ways a:hover {
    transform: scale(1.2, 1.2);
}


#contact img {
    width: 50px;
    height: 50px;
}




@media(max-width:640px) {
    .projects-flex a {
        width: 80%;
    }
}